body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2ebeb;
    
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: hsl(315, 71%, 84%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, button {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button {
    background-color: rgb(139, 186, 237);
    color: hwb(211 69% 5%);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #a1c9f4;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: hsla(189, 82%, 24%, 0.422);
    padding-top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 10px 0;
    border-bottom: 1px solid #828181;
}

nav ul li a {
    display: block;
    color: hsl(0, 4%, 82%);
    text-decoration: none;
    padding: 10px;
}

nav ul ul {
    display: none;
    background-color: #444;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul li {
    border-bottom: none;
}

nav ul ul li a {
    padding: 10px 20px;
}




body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

form {
    text-align: center;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}